
/* pagintaion css */
.pagination{
  list-style: none;
  display: flex;
  justify-content: center;
  align-self: center;
  margin-bottom: 5rem;
  font-size: 1.2rem;
  gap:5px;
}
.pagination .page-num{
  padding: 8px 10px;
  cursor: pointer; 
  border-radius: 3px;
  font-weight: 400;
}
.pagination .page-num:hover{
background-color: bisque;

}
.pagination .active{
  padding: 8px 10px;
  border-radius: 3px;
  background-color: bisque;
  color: rgba(49, 50, 49, 0.692)
}